@model FilipWebsite.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr/>
    <dl class="dl-horizontal">
        
        <dt>
            Picture
        </dt>


        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {

            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" height="125" width="125" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Category.Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Create Comment","Create","Comments")
</p>
@foreach (var item in Model.Comments)
{
    <hr />
    <p>
        <b>@Html.DisplayFor(modelItem => item.Body)</b>
    </p>
    <p>
        @Html.DisplayFor(modelItem => item.Author)
    </p>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
